body, html {
    overflow-x: hidden;
  }
  
#heading{
  color: #f78e06;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;      
  font-weight: bold;
  text-align: center;
  margin: 2rem 0rem;
}

#hello
{
  color:hsl(34, 95%, 50%);
  font-family:Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
}

.btnq{
  border-radius: 20px;
  background-color:hsl(34, 95%, 50%);
  font-family:Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
}

#what
{
  color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: x-large;
  padding-left: 500 rem;
  margin: 1em 1em;
  border-radius: 100px;
  border-color:white;
  background-color: orange;
  max-width: fit-content;
}

.btn-group{
  text-align: center;
  display: flex!important;
}

.btn-group button {
    text-align: center;
    background-color: rgb(0, 0, 0); /* Green background */
    border: 1px solid orange; /* Green border */
    color: white; /* White text */
    padding:50px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: ruby;
    font-weight: bolder;
    font-weight: larger;
    font-family:Ubuntu,Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom:20px;
    font-size: x-large;
    border-radius: 4rem;
    text-decoration:none;
  }
  
.btn-group button:hover {
  background-color:orange;
  color: black;
}

@media only screen and (max-width: 768px){
  .btn-group button{
    width: 100%;
  }
}