html{
    overflow-x: hidden;
}
.navbar{
    background-color: #FC8820;
    text-decoration: none;
}
body{
    margin:0;
    font-family: Roboto,Lato;
    background-color: #ffffff;
}

#cover{
    background-image: url(https://cdn.pixabay.com/photo/2020/03/11/14/49/covid-19-4922342_960_720.jpg);
    min-height: 100vh;
    width: 100vw;
    background-repeat: round;
    background-size: auto;
    
}
.about h1
{
    color: #FC8820;
    text-align: center;
}
.quote{
    color: #fc8820;
    text-align: center;
    left: -10%;
    position: relative;
    }
 button
{
    background-color: #fc8820;
    color: white;
    border: solid;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    padding: 5px;
    letter-spacing: -1px;
}
.about
{
    width: 35%;
    height: 50%;
    margin-left: 55%;
    margin-top: 2%;
    position: absolute;
    
}
.about p
{
    color: white;
    //overflow: scroll;
    text-align: justify;
    color: white;
}
#cnt{
    min-height: 20vh;
    background-color: #222;
}
a{
    color: #FC8820;
}

.title{
    text-align: left;
    padding-top: 25vh;
    float: left;
}

.logo{
    width: 14rem;
    height: 14rem;
    opacity: 1;
}
@media only screen and (max-width: 576px){
    .about{
        width:80%;
        top: 110%;
        left: -50%;
        text-align: left;
        }
    .about p
    {
        color: black;
    }
    .logo
    {
        width: 10rem;
        height: 10rem;
    }
    .title
    {
        text-align: center;
        margin-left: 24%;
        margin-top: 20%;
    }
    .quote
    {
        text-align: center;
        left:  -80%;
        visibility: hidden;
    }
    #cover{
        width: 100%;
        height: 100%;
    }
    #cnt
    {
        margin-top: 150%;
    }
}
@media only screen and (max-width: 768px){
    .about{
        width:90%;
        top: 110%;
        left: -50%;
        text-align: left;
        }
    .about p
    {
        color: black;
    }
    .logo
    {
        width: 10rem;
        height: 10rem;
    }
    .title
    {
        text-align: center;
        margin-left: 36%;
        margin-top: 10%;
    }
    .quote
    {
        text-align: center;
        left:  -80%;
        visibility: hidden;
    }
    #cover{
        width: 100%;
        height: 100%;
    }
    #cnt
    {
        margin-top: 150%;
    }
}
