html{
    overflow-x: hidden;
}
.navbar{
    background-color: #FC8820;
    text-decoration: none;
}
body{
    margin:0;
    font-family: Roboto,Lato;
    background-color: #ffffff;
}

#cover{
    background: linear-gradient(-30deg, #EE7752, #E73C7E,#23A6D5);
    min-height: 100vh;
    width: 100vw;
    background-repeat: round;
    background-size: 400%;
    
}
.about h1
{
    color: #FC8820;
    text-align: center;
}
.quote{
    color: white;
    text-align: center;
    position: relative;
    }

 button
{
    background-color: #fc8820;
    color: white;
    border: solid;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    padding: 5px;
    letter-spacing: -1px;
}
.about
{
    width: 80%;
    height: 50%;
    margin-left: 10%;
    margin-top: 2%;
    position: relative;
}
.about p
{
    color: black;
    //overflow: scroll;
    text-align: justify;
    font-size: 1.3 rem;
}

#cnt{
    min-height: 20vh;
    background-color: #fc8820;
    margin-top: 10%;
}

a{
    color: white;
}

.title{
    text-align: center;
    padding-top: 25vh;
}

.logo{
    width: 14rem;
    height: 14rem;
    opacity: 1;
}


@media only screen and (max-width: 576px){
    .quote
    {
        text-align: center;
        left:  -80%;
        visibility: hidden;
    }
}
